<footer class="footer">

    <div class="contenedor-footer">

        <div class="informacion-banco">
            <h3>Banco Amazonas</h3>
            <p>Soluciones financieras pensadas para usted.</p>
        </div>

        <div class="contacto-footer">
            <h4>Contacto</h4>

            <p>
                <strong>Teléfono: </strong>
                <a>099 878 9206</a>
            </p>

            <p>
                <strong>Correo: </strong>
                <a>contacto@bancoamazonas.com</a>
            </p>
        </div>
    </div>

    <div class="linea-footer"></div>
    <div class="copyright-footer">
        <p>
            © 2026 Banco Amazonas. Todos los derechos reservados.
        </p>
    </div>

</footer>