<header class="header">
    <div class="contenedor-header">

        <div class="marca">
    
                <img src="https://i.postimg.cc/N0QbJThb/logoamazonasbanco.png" alt="Banco Amazonas">
            
        </div>

        <nav class="navegacion">
            <a routerLink="/login" routerLinkActive="activo">
                Login
            </a>

            <a routerLink="/dashboard" routerLinkActive="activo">
                Dashboard
            </a>

            <a routerLink="/movimientos" routerLinkActive="activo">
                Movimientos
            </a>

        </nav>

    </div>
</header>