<header class="header">
    <div class="contenedor-header">

        <div class="marca">
                <img src="logo.png" alt="Banco Amazonas">
        </div>

        <nav class="navegacion">
            @if (!auth.sesionActiva()) {
                <a routerLink="/login" routerLinkActive="activo">
                    Login
                </a>
            }

            @if (auth.sesionActiva()) {
                <a routerLink="/dashboard" routerLinkActive="activo">
                    Dashboard
                </a>
                <a routerLink="/movimientos" routerLinkActive="activo">
                    Movimientos
                </a>

                <button type="button" class="botonCerrarSesion" (click)="cerrarSesion()">
                    Cerrar Sesión
                </button>
            }
        </nav>
    </div>

</header>
