<div class="paginaLogin">

    <div class="contenedorLogin">

        <h2>INICIAR SESIÓN</h2>

        <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">

            <label>Correo electrónico:</label>

            <input
                formControlName="email"
                type="email"
                placeholder="Ingrese su correo electrónico"
            >

            <label>Contraseña:</label>

            <input
                formControlName="password"
                type="password"
                placeholder="Ingrese su contraseña"
            >

            @if(errorLogin()){
                <p class="error">Correo o contraseña incorrectos</p>
            }

            <button type="submit">
                Iniciar Sesión
            </button>

        </form>

    </div>

</div>